.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  border-bottom: 1px solid gainsboro;
}

.list {
  display: flex;
  gap: 30px;
  list-style: none;

  a {
    color: black;
    text-decoration: none;
  }
}
