@import "tailwindcss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  border-bottom: 1px solid gainsboro;

  ul {
    display: flex;
    gap: 30px;
  }
}
